@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    background-color: #ced4ba;
    font-family: 'Ubuntu', sans-serif;
    color: #2f1b33;
}

h1 {
    background-color: #e8e8e6;
    padding: 0.5em;
    border-radius: 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -6px -6px 26px 0 rgba(230,230,230,0.83), 6px 6px 16px 0 rgba(150, 150, 150, 0.51);
}

#banner {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 2em;
    padding: 0.1em;
}

#info {
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: 2vh;
    padding: 0.5em;
    background-color: #e8e8e6;
    height: 20%;
    box-shadow: -6px -6px 26px 0 rgba(230,230,230,0.90), 6px 6px 16px 0 rgba(150, 150, 150, 0.5);
    border-radius: 1em;
}

button{
    color: #2f1b33;
    background-color: #e8e8e6;
    font-size: 2em;
    border: none;
}

button:hover, button:active{
    background-color: #E95420;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

#buttonBanner{
    margin-top: 2em;
    width: 80%;
    text-align: center;
    padding-top: 2em;
    background-color: #e8e8e6;
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    right: 10%;
    bottom: 1%;
    box-shadow: -6px -6px 26px 0 rgba(230,230,230,0.90), 6px 6px 16px 0 rgba(150, 150, 150, 0.5);
}

.photoIcon {
    border-radius: 2em;
}

.LDIcon {
    vertical-align: middle;
    margin-right: 1em;
}

.skillGroup {
    font-weight: 900;
}

.skillGroup, .skillItem{
    margin-right: 0.5em;
}

.skillBox {
    padding: 1em;
}

.skillBox:hover {
    background-color: #E95420;
    color: white;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

a:hover{
    background-color: #E95420;
    color: white;
}
